header{
    background:url(../img/bggg.jpg);
    height: 500px;
    text-align: center;
    padding-top: 15px;
}
header h1{
    color:white;
    font-weight: bold;
}
header p{
    color: white;
    font-size: 35px;
}
header a{
    width: 259px;
    height: 63px;
    background:#1EACC7;
    box-shadow: inset 0px -4px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    line-height: 63px;
    color: #fff;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 30px;
}
header a:hover{
    text-decoration: none;
    background: rgb(21, 255, 0);
    color: #000;
    transition: 0.50s;
}
.main{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main img{
    height: 130px;
    width: 225px;
    border: solid 3px #000;
    margin-top: 30px;
}
.main p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}

.text{
    text-align: center;
    background: rgb(209, 209, 209);
}
.text p{
    font-size: 20px;
    font-weight: bold;
}


footer p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 575.98px) { 

    .text p{
        font-size: 13px;
    }
    .map iframe{
        width: 370px;
    }

    header{
        height: 400px;
    }
    header a{
       margin-top: 10px;
    }
    header p{
        display: none;
    }
    header h1{
        margin-bottom: 95px;
        margin-top: 30px;
    }
    .main img{
        margin-top: 20px;
    }
    footer p{
        font-size: 15px;
    }
 }
 @media (min-width: 576px) and (max-width: 767.98px) { 
    header p{
        font-size: 25px;
        
    }
    header a{
        margin-top: 10px;
    }
    
    .map iframe{
        width: 580px;
    }
  }